### Importing Packages

In [2]:
import pandas as pd
import numpy as np
import requests

### Extracting Wikipedia data and storing in wiki_df as panda dataframe

In [3]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
wiki_df = pd.read_html(website_url)[0]
wiki_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Filter Records which has Borough is equal to Not assigned

In [4]:
wiki_df1 = wiki_df[wiki_df['Borough']!="Not assigned"].reset_index(drop=True)
wiki_df1.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

### Combining Neighbourhood which has same borough and Postal Code

In [7]:
wiki_df1['Neighbourhood'] = wiki_df1[['Postcode','Borough','Neighbourhood']].groupby(['Postcode','Borough'])['Neighbourhood'].transform(lambda x: ','.join(x))
wiki_df2 = wiki_df1[['Postcode','Borough','Neighbourhood']].drop_duplicates().reset_index(drop=True)
wiki_df2.head()

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park,Harbourfront,Regent P..."
3,M6A,North York,"Lawrence Heights,Lawrence Manor,Lawrence Heigh..."
4,M7A,Queen's Park,Not assigned

### Replacing Neighbourhood value with Borough if value of neighbourhood is Not assigned

In [10]:
n = np.shape(wiki_df2)

for i in range(n[0]):
    if wiki_df2['Neighbourhood'][i] == "Not assigned":
        wiki_df2['Neighbourhood'][i] = wiki_df2['Borough'][i]
wiki_df2.head()

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park,Harbourfront,Regent P..."
3,M6A,North York,"Lawrence Heights,Lawrence Manor,Lawrence Heigh..."
4,M7A,Queen's Park,Queen's Park

### Printing the shape of final dataframe

In [11]:
print("Final Dataframe Shape")
print(np.shape(wiki_df2))
print("No. of rows are", np.shape(wiki_df2)[0])

Final Dataframe Shape
(103, 3)
No. of rows are 103